{#
 * This file is part of the Souk Shipping module of DPD Nederland B.V.
 *
 * Copyright (C) 2018  DPD Nederland B.V.
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <https://www.gnu.org/licenses/>.
 #}
{{ header }}{{ column_left }}
<div id="content">
<div class="page-header">
  <div class="container-fluid">
    <div class="pull-right">
    </div>
    <h1>{{ shipments_heading_title }}</h1>
    <ul class="breadcrumb">
      {% for breadcrumb in breadcrumbs %}
      <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
      {% endfor %}
    </ul>
  </div>
</div>
<div class="container-fluid">{% if error_warning %}
  <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
    <button type="button" class="close" data-dismiss="alert">&times;</button>
  </div>
  {% endif %}
  {% if success %}
  <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}
    <button type="button" class="close" data-dismiss="alert">&times;</button>
  </div>
  {% endif %}
  <div class="row">

    <div id="filter-order" class="col-md-3 col-md-push-9 col-sm-12 hidden-sm hidden-xs">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"><i class="fa fa-filter"></i> {{ text_filter }}</h3>
        </div>
        <div class="panel-body">
          <div class="form-group">
            <label class="control-label" for="input-filter-batch-id">{{ entry_batch_id }}</label>
            <input type="text" name="filter_batch_id" value="{{ filter.batch_id }}" placeholder="{{ entry_batch_id }}" id="input-filter-batch-id" class="form-control" />
          </div>
            <div class="form-group">
                <label class="control-label" for="input-filter-created">{{ entry_created }}</label>
                <div class="input-group date">
                    <input type="text" name="filter_created" value="{{ filter.created }}" placeholder="{{ entry_created }}" data-date-format="YYYY-MM-DD" id="input-filter-created" class="form-control" />
                    <span class="input-group-btn">
              <button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
              </span> </div>
            </div>
          <div class="form-group">
            <label class="control-label" for="input-order_id">{{ entry_order_id }}</label>
            <input type="text" name="filter_order_id" value="{{ filter.order_id }}" placeholder="{{ entry_order_id }}" id="input-order_id" class="form-control" />
          </div>
          <div class="form-group">
            <label class="control-label" for="input-filter-return">{{ entry_is_return }}</label><br>
            <input type="radio" name="filter_is_return" value="0"{% if filter.is_return == '0' %} checked{% endif %}> {{ text_no }}
            <input type="radio" name="filter_is_return" value="1"{% if filter.is_return == '1' %} checked{% endif %}> {{ text_yes }}
            <input type="radio" name="filter_is_return" value=""{% if filter.is_return == '' %} checked{% endif %}> {{ text_both }}
          </div>
          <div class="form-group">
            <label class="control-label" for="input-status">{{ entry_status }}</label>
            <select name="filter_status" id="input-status" class="form-control">
              <option value=""></option>
              {% for batch_status, status_color in status_colors %}
                  <option value="{{ batch_status }}"{% if batch_status == filter.status %} selected="selected"{% endif %} >{{ dpd_language.get('text_'~batch_status) }}</option>
              {% endfor %}
            </select>
          </div>
          <div class="form-group text-right">
            <button type="button" id="button-filter" class="btn btn-default"><i class="fa fa-filter"></i> {{ button_filter }}</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-9 col-md-pull-3 col-sm-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"><i class="fa fa-list"></i> {{ text_shipment_list }}</h3>
        </div>
        <div class="panel-body">
          <form method="post" action="" enctype="multipart/form-data" id="form-batch">
            <div class="table-responsive">
              <table class="table table-bordered table-hover">
                <thead>
                  <tr>
                    <td class="text-right"><a href="{{ sort_url.batch_id }}"{% if sort == 'batch_id' %}  class="{{ order|lower }}"{% endif %}>{{ column_batch_id }}</a></td>
                    <td class="text-left"><a href="{{ sort_url.created }}"{% if sort == 'created' %}  class="{{ order|lower }}"{% endif %}>{{ column_shipment_created }}</a></td>
                    <td class="text-left"><a href="{{ sort_url.order_id }}"{% if sort == 'order_id' %}  class="{{ order|lower }}"{% endif %}>{{ column_order_id }}</a></td>
                    <td class="text-left"><a href="{{ sort_url.is_return }}"{% if sort == 'is_return' %}  class="{{ order|lower }}"{% endif %}>{{ column_is_return }}</a></td>
                    <td class="text-left">{{ column_batch_parcelnumbers }}</td>
                    <td class="text-left">{{ column_shipment_status }}</td>
                    <td class="text-right">{{ column_action }}</td>
                  </tr>
                </thead>
                <tbody>
                
                {% if shipments %}
                {% for shipment in shipments %}
                <tr>
                  <td class="text-right">{{ shipment.batch_id }}</td>
                  <td class="text-left">{{ shipment.date_added }}</td>
                  <td class="text-left">
                    <a href="{{ url_generator.link('sale/order/info', 'order_id=') }}{{ shipment.order_id }}" title="View Order">{{ shipment.order_id }}</a>
                  </td>
                  <td class="text-left">
                    {% if shipment.is_return %}{{ text_yes }}{% else %}{{ text_no }}{% endif %}
                  </td>
                  <td class="text-right">
                    {% for parcelNumber in shipment.parcelNumbers %}
						<a href="https://tracking.dpd.de/status/{{ locale }}/parcel/{{ parcelNumber }}" title="DPD Track and Trace" target="_blank">
                            {{ parcelNumber }}
						</a>
                    {% endfor %}
                  </td>
                  <td class="text-left statusCell" style="background: {{ status_colors[shipment.status] }}; color: white; ">
                    {% if shipment.errorText is empty %}
                      {{ dpd_language.get('text_' ~ shipment.status) }}
                    {% else %}
                      <a href="#" style="color: white; " title="Show error" class="toggleError" data-shipment_id="{{ shipment.dpd_shipment_id }}">{{ dpd_language.get('text_' ~ shipment.status) }}</a>
                    {% endif %}
				  </td>
                  <td class="text-right"><div style="min-width: 40px;">
                      <div class="btn-group">
						  {% if shipment.parcelNumbers is not empty %}
							  <a href="{{ url_generator.link('extension/shipping/dpdbenelux/download-label', 'shipment_id=') }}{{ shipment.dpd_shipment_id }}" data-toggle="tooltip" title="Download DPD Labels" class="btn btn-primary"><i class="fa fa-download"></i></a>
						  {% endif %}
                          {% if shipment.errorText is not empty %}
                            <a href="#" title="Show error" class="btn btn-danger toggleError" data-shipment_id="{{ shipment.dpd_shipment_id }}"><i class="fa fa-exclamation-circle"></i></a>
                          {% endif %}
                      </div>
                    </div>
                  </td>
                </tr>
                <tr id="shipmentError{{ shipment.dpd_shipment_id }}" style="display: none">
                  <td colspan="7"  >
                    <div class="alert alert-danger">
                    <i class="fa fa-exclamation-circle"></i>
                    {{ shipment.errorText }}
                    <button type="button" class="close toggleError" data-shipment_id="{{ shipment.dpd_shipment_id }}">&times;</button>
                    </div>
                  </td>
                </tr>
                {% endfor %}
                {% else %}
                <tr>
                  <td class="text-center" colspan="8">{{ text_no_results }}</td>
                </tr>
                {% endif %}
                  </tbody>
                
              </table>
            </div>
          </form>
          <div class="row">
            <div class="col-sm-6 text-left">{{ pagination }}</div>
            <div class="col-sm-6 text-right">{{ results }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript"><!--
$('#button-filter').on('click', function() {
	url = '';

	var filter_batch_id = $('input[name=\'filter_batch_id\']').val();
	if (filter_batch_id) {
		url += '&filter[batch_id]=' + encodeURIComponent(filter_batch_id);
	}

	var filter_created = $('input[name=\'filter_created\']').val();
	if (filter_created) {
		url += '&filter[created]=' + encodeURIComponent(filter_created);
	}

	var filter_status = $('select[name=\'filter_status\']').val();
	if (filter_status !== '') {
		url += '&filter[status]=' + encodeURIComponent(filter_status);
	}

	var filter_order_id = $('input[name=\'filter_order_id\']').val();
	if (filter_order_id) {
		url += '&filter[order_id]=' + encodeURIComponent(filter_order_id);
	}

    var filter_is_return = $('input[name=\'filter_is_return\']:checked').val();
    if (filter_is_return) {
        url += '&filter[is_return]=' + encodeURIComponent(filter_is_return);
    }

    location = '{{ filter_url }}' + url;
});
//--></script> 
  <script src="view/javascript/jquery/datetimepicker/bootstrap-datetimepicker.min.js" type="text/javascript"></script>
  <link href="view/javascript/jquery/datetimepicker/bootstrap-datetimepicker.min.css" type="text/css" rel="stylesheet" media="screen" />
  <script type="text/javascript"><!--
$('.date').datetimepicker({
	language: '{{ datepicker }}',
	pickTime: false
});
//--></script>
</div>
{{ footer }} 